@import "utils";

.Header {
  display: flex;
  justify-content: space-between;
  &__left-side {
    display: inline-block;
    height: 64px;
  }

  &__right-side {
    display: inline-block;
    height: 64px;
  }

  &__logo {
    height: 100%;
  }

  &__menu {
    display: inline-block;
  }
}
